node_modules
.git
.yarn
demo
.vscode
.idea
.DS_Store
yarn.lock
npm-debug.log
.env
.cache
__tests__
coverage
ios
android
build
dist
example
*.config.js
*.lock
*.md
*.yml
*.bundle
.gitignore
.npmignore
.prettierrc.js
.watchmanconfig
